.business-header-title
  h1
    font-size: 21px
    line-height: 1.5em
    font-weight: bold
    float: left
  .pagination-results
    float: right
    
.businesses
  max-width: 960px

.business
  img
    border-radius: 5px

.business-info
  vertical-align: top
  h4
    font-size: 16px
    margin: 0 0 10px 0
    font-weight: normal
  .location
    width: 250px

.review-preview
  margin-top: 10px
  .media-avatar
    float: left
    margin: 0 10px 0 0
  img
    border-radius: 5px
  p
    font-size: 13px

.address
  margin-bottom: 0
  
.business-details
  .write-icon
    color: white
    background: #d32323
    &:hover
      background: #bd1f1f
  
.reviews
  margin-top: 20px
  h3
    font-size: 24px
  .review
    margin-left: 0px
    