.star-rating.rateable > label
  &:hover
    span
      background: red 

.star-rating
  label.btn.btn-danger.disabled
    background: grey

.star-rating
  label.btn.btn-default.active,
  label.btn.btn-danger.active,
    background: red

.star-rating.large-rating
  label
    span
      padding: 8px
      font-size: 20px   

.star-rating
  .radio
    display: none